<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.souvik.indotour">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="IndiaTourism"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".NextActivity"></activity>
        <activity android:name=".NextActivity2"></activity>
        <activity android:name=".homepage_about"></activity>
        <activity android:name=".rate"></activity>
        <activity android:name=".kol"></activity>
        <activity android:name=".beng"></activity>
        <activity android:name=".chn"></activity>
        <activity android:name=".delhi"></activity>
        <activity android:name=".goa"></activity>
        <activity android:name=".port"></activity>
    </application>

</manifest>